[submodule "kubernetes-base-templates"]
	path = kubernetes-base-templates
	url = https://github.com/austinsonger/Kubernetes-base-templates
[submodule "terraform"]
	path = terraform-base-templates
	url = https://github.com/austinsonger/Terraform-base-templates
[submodule "jenkins"]
	path = jenkins
	url = https://github.com/austinsonger/Jenkins
	branch = master
[submodule "packer-base-templates"]
	path = packer-base-templates
	url = https://github.com/austinsonger/Packer-base-templates
	branch = main
[submodule "vagrant-base-templates"]
	path = vagrant-base-templates
	url = https://github.com/austinsonger/Vagrant-base-templates
