[submodule "kubernetes-templates"]
	path = kubernetes-templates
	url = https://github.com/austinsonger/Kubernetes-templates
[submodule "terraform"]
	path = terraform-templates
	url = https://github.com/austinsonger/Terraform-templates
[submodule "jenkins"]
	path = jenkins
	url = https://github.com/austinsonger/Jenkins
	branch = master
[submodule "GithubActions"]
	path = GithubActions
	url = https://github.com/austinsonger/GithubActions
	branch = master
[submodule "packer-templates"]
	path = packer-templates
	url = https://github.com/austinsonger/Packer-templates
	branch = main
[submodule "vagrant-templates"]
	path = vagrant-templates
	url = https://github.com/austinsonger/Vagrant-templates
